amqp==1.4.6
anyjson==0.3.3
Babel==1.3
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.20
boto==2.36.0
celery==3.1.18
certifi==2015.4.28
-e git://github.com/CloudScale-Project/Deployment-Scripts.git@736d4409c34f23341cf0b0830b31d63cf6e75815#egg=cloudscale_deployment_scripts-master
-e git://github.com/CloudScale-Project/Distributed-Jmeter.git@e36a8cb4d4faf84cfb1b4bf4401a9ff5007e509f#egg=cloudscale_distributed_jmeter-master
debtcollector==0.5.0
Django==1.8.3
ecdsa==0.13
iso8601==0.1.10
kombu==3.0.26
msgpack-python==0.4.6
netaddr==0.7.15
netifaces==0.10.4
numpy==1.9.2
oslo.config==1.14.0
oslo.i18n==2.1.0
oslo.serialization==1.7.0
oslo.utils==1.8.0
pandas==0.15.2
paramiko==1.15.2
pbr==1.3.0
prettytable==0.7.2
pycrypto==2.6.1
python-dateutil==2.4.2
python-keystoneclient==1.6.0
python-novaclient==2.26.0
pytz==2015.4
redis==2.10.3
requests==2.7.0
simplejson==3.7.3
six==1.9.0
sockjs-tornado==1.0.1
stevedore==1.6.0
SwampDragon==0.4.2.2
tornado==4.2
tornado-redis==2.4.18
wrapt==1.10.5
